src/main/resources/Product.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://andsim.productservice.no/Product" elementFormDefault="qualified">
<xs:element name="Product">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="barcode" type="xs:long" />
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>