src/main/resources/VareServiceTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Vare">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="barcode" type="xs:long" />
				<xs:element name="name" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VareList">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Vare" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>